.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 5px;
    padding: 5px;
}

.person {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 5px;
    padding: 5px;
    background-color: #BBC3C7;
    border-radius: 10px;
}

.person:hover{
    background-color: #7A8B8C
}

*{
    font-family: 'Raleway', sans-serif;
}